[submodule "[esx]/esx_accessories"]
	path = [esx]/esx_accessories
	url = git@github.com:Sander0542-FiveM/esx_accessories.git
[submodule "[esx]/esx_addonaccount"]
	path = [esx]/esx_addonaccount
	url = git@github.com:Sander0542-FiveM/esx_addonaccount.git
[submodule "[esx]/esx_addoninventory"]
	path = [esx]/esx_addoninventory
	url = git@github.com:Sander0542-FiveM/esx_addoninventory.git
[submodule "[esx]/esx_advancedbanking"]
	path = [esx]/esx_advancedbanking
	url = git@github.com:Sander0542-FiveM/esx_advancedbanking.git
[submodule "[esx]/esx_advancedfuel"]
	path = [esx]/esx_advancedfuel
	url = git@github.com:Sander0542-FiveM/esx_advancedfuel.git
[submodule "[esx]/esx_advancedgarage"]
	path = [esx]/esx_advancedgarage
	url = git@github.com:Sander0542-FiveM/esx_advancedgarage.git
[submodule "[esx]/esx_advancedholdup"]
	path = [esx]/esx_advancedholdup
	url = git@github.com:Sander0542-FiveM/esx_advancedholdup.git
[submodule "[esx]/esx_advancedjail"]
	path = [esx]/esx_advancedjail
	url = git@github.com:Sander0542-FiveM/esx_advancedjail.git
[submodule "[esx]/esx_advancedvehicleshop"]
	path = [esx]/esx_advancedvehicleshop
	url = git@github.com:Sander0542-FiveM/esx_advancedvehicleshop.git
[submodule "[esx]/esx_advancedweaponshop"]
	path = [esx]/esx_advancedweaponshop
	url = git@github.com:Sander0542-FiveM/esx_advancedweaponshop.git
[submodule "[esx]/esx_ambulancejob"]
	path = [esx]/esx_ambulancejob
	url = git@github.com:Sander0542-FiveM/esx_ambulancejob.git
[submodule "[esx]/esx_barbershop"]
	path = [esx]/esx_barbershop
	url = git@github.com:Sander0542-FiveM/esx_barbershop.git
[submodule "[esx]/esx_basicneeds"]
	path = [esx]/esx_basicneeds
	url = git@github.com:Sander0542-FiveM/esx_basicneeds.git
[submodule "[esx]/esx_billing"]
	path = [esx]/esx_billing
	url = git@github.com:Sander0542-FiveM/esx_billing.git
[submodule "[esx]/esx_clotheshop"]
	path = [esx]/esx_clotheshop
	url = git@github.com:Sander0542-FiveM/esx_clotheshop.git
[submodule "[esx]/esx_cruisecontrol"]
	path = [esx]/esx_cruisecontrol
	url = git@github.com:Sander0542-FiveM/esx_cruisecontrol.git
	branch = master
[submodule "[esx]/esx_datastore"]
	path = [esx]/esx_datastore
	url = git@github.com:Sander0542-FiveM/esx_datastore.git
[submodule "[esx]/esx_dmvschool"]
	path = [esx]/esx_dmvschool
	url = git@github.com:Sander0542-FiveM/esx_dmvschool.git
[submodule "[esx]/esx_drugs"]
	path = [esx]/esx_drugs
	url = git@github.com:Sander0542-FiveM/esx_drugs.git
[submodule "[esx]/esx_extraitems"]
	path = [esx]/esx_extraitems
	url = git@github.com:Sander0542-FiveM/esx_extraitems.git
[submodule "[esx]/esx_gopostaljob"]
	path = [esx]/esx_gopostaljob
	url = git@github.com:Sander0542-FiveM/esx_gopostaljob.git
[submodule "[esx]/esx_identity"]
	path = [esx]/esx_identity
	url = git@github.com:Sander0542-FiveM/esx_identity.git
[submodule "[esx]/esx_joblisting"]
	path = [esx]/esx_joblisting
	url = git@github.com:Sander0542-FiveM/esx_joblisting.git
[submodule "[esx]/esx_jobs"]
	path = [esx]/esx_jobs
	url = git@github.com:Sander0542-FiveM/esx_jobs.git
[submodule "[esx]/esx_license"]
	path = [esx]/esx_license
	url = git@github.com:Sander0542-FiveM/esx_license.git
[submodule "[esx]/esx_licenseshop"]
	path = [esx]/esx_licenseshop
	url = git@github.com:Sander0542-FiveM/esx_licenseshop.git
[submodule "[esx]/esx_lscustom"]
	path = [esx]/esx_lscustom
	url = git@github.com:Sander0542-FiveM/esx_lscustom.git
[submodule "[esx]/esx_mechanicjob"]
	path = [esx]/esx_mechanicjob
	url = git@github.com:Sander0542-FiveM/esx_mechanicjob.git
[submodule "[esx]/esx_phone"]
	path = [esx]/esx_phone
	url = git@github.com:Sander0542-FiveM/esx_phone.git
[submodule "[esx]/esx_policejob"]
	path = [esx]/esx_policejob
	url = git@github.com:Sander0542-FiveM/esx_policejob.git
[submodule "[esx]/esx_property"]
	path = [esx]/esx_property
	url = git@github.com:Sander0542-FiveM/esx_property.git
[submodule "[esx]/esx_realestateagentjob"]
	path = [esx]/esx_realestateagentjob
	url = git@github.com:Sander0542-FiveM/esx_realestateagentjob.git
[submodule "[esx]/esx_service"]
	path = [esx]/esx_service
	url = git@github.com:Sander0542-FiveM/esx_service.git
[submodule "[esx]/esx_shops"]
	path = [esx]/esx_shops
	url = git@github.com:Sander0542-FiveM/esx_shops.git
[submodule "[esx]/esx_skin"]
	path = [esx]/esx_skin
	url = git@github.com:Sander0542-FiveM/esx_skin.git
[submodule "[esx]/esx_society"]
	path = [esx]/esx_society
	url = git@github.com:Sander0542-FiveM/esx_society.git
[submodule "[esx]/esx_status"]
	path = [esx]/esx_status
	url = git@github.com:Sander0542-FiveM/esx_status.git
[submodule "[esx]/esx_taxijob"]
	path = [esx]/esx_taxijob
	url = git@github.com:Sander0542-FiveM/esx_taxijob.git
[submodule "[esx]/esx_truckerjob"]
	path = [esx]/esx_truckerjob
	url = git@github.com:Sander0542-FiveM/esx_truckerjob.git
[submodule "[esx]/esx_vehiclelock"]
	path = [esx]/esx_vehiclelock
	url = git@github.com:Sander0542-FiveM/esx_vehiclelock.git
[submodule "[esx]/instance"]
	path = [esx]/instance
	url = git@github.com:Sander0542-FiveM/instance.git
[submodule "[esx]/[ui]/esx_menu_default"]
	path = [esx]/[ui]/esx_menu_default
	url = git@github.com:Sander0542-FiveM/esx_menu_default.git
[submodule "[esx]/[ui]/esx_menu_dialog"]
	path = [esx]/[ui]/esx_menu_dialog
	url = git@github.com:Sander0542-FiveM/esx_menu_dialog.git
[submodule "[esx]/[ui]/esx_menu_list"]
	path = [esx]/[ui]/esx_menu_list
	url = git@github.com:Sander0542-FiveM/esx_menu_list.git
[submodule "[essential]/es_extended"]
	path = [essential]/es_extended
	url = git@github.com:Sander0542-FiveM/es_extended.git
	branch = legacy
[submodule "[helpers]/async"]
	path = [helpers]/async
	url = git@github.com:esx-framework/async.git
[submodule "[helpers]/skinchanger"]
	path = [helpers]/skinchanger
	url = git@github.com:esx-framework/skinchanger.git
[submodule "[helpers]/cron"]
	path = [helpers]/cron
	url = git@github.com:esx-framework/cron.git
[submodule "[essential]/essentialmode"]
	path = [essential]/essentialmode
	url = git@github.com:Sander0542-FiveM/essentialmode.git
[submodule "[esx]/es_wsync"]
	path = [esx]/es_wsync
	url = git@github.com:Sander0542-FiveM/es_wsync.git
[submodule "[helpers]/mysql-async"]
	path = [helpers]/mysql-async
	url = git@github.com:brouznouf/fivem-mysql-async.git
[submodule "[esx]/esx_cinema"]
	path = [esx]/esx_cinema
	url = git@github.com:Sander0542-FiveM/esx_cinema.git
[submodule "[ipl]/bob74_ipl"]
	path = [ipl]/bob74_ipl
	url = git@github.com:Sander0542-FiveM/bob74_ipl.git
[submodule "[extras]/realistic-vehicle-failure"]
	path = [extras]/realistic-vehicle-failure
	url = git@github.com:Sander0542-FiveM/realistic-vehicle-failure.git
[submodule "[esx]/esx_np_skinshop_v2"]
	path = [esx]/esx_np_skinshop_v2
	url = git@github.com:Sander0542-FiveM/esx_np_skinshop_v2.git
